<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div>stark:
    <a href="{{ url_for('index') }}">Home</a>
    {% if current_user.is_authenticated %}
    | Hi {{ current_user.name }}
    | <a href="{{ url_for('logout') }}">logout</a>
    {% else %}
    | <a href="{{ url_for('login') }}">login</a>
    {% endif %}
</div>
{% with msgs = get_flashed_messages() %}
{% if msgs %}
<ul>
    {% for msg in msgs %}
    <li>{{ msg }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block lgg_content %}{% endblock %}
</body>
</html>