{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }} <!-- without this,will get form.errors -->
    <p>
        Please enter your username:<br>
        {{ form.username(size=80) }}<br>
        {% for error in form.username.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
        {% if not form.username_is_invalid() %}
        <span style="color:red;">[{{ form.username.data }} is invalid]</span>
        {% endif %}
    </p>
    <p>
        Please enter your password:<br>
        {{ form.password(size=80) }}<br>
        {% for error in form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
        {% if not form.password_is_invalid() %}
        <span style="color:red;">[{{ form.password.data }} is invalid]</span>
        {% endif %}
    </p>
    <p>{{ form.remember_me }} Remember Me</p>
    {% for error in form.errors %}
    <span style="color:red;">[{{ error }}]</span>
    {% endfor %}
    <p><input type="submit" value="login"></p>
</form>
{% endblock content %}